html, body {
    width: 100%;
    height: 100%;
}

.user-actions {
    padding: 30px 0 0 190px;

    border: 2px solid green;
}
 
#editor-container {
    width: 80%;
    height: 90%;


    border: 2px solid red;
}

.error-container {
    border: 2px solid blue;
}

.error-log {
    width: 80%;
}
